/* #mainContainer {   
} */
#section1 {
    border:5px solid black ;
    display:flex;
    /* flex-wrap:wrap ; */
   
}
#intro{
    border: 2px solid red;
    width: 50%;
    display: flex;
}
img{
    width:200px;
    height:auto;
    margin-right: 30px;
}
#name{
    background-color: azure;
    border: 2px solid yellow;
    width: 70%;
}
#biography{
    background-color: whitesmoke;
    border: 2px solid green
}
#section2 {
    background-color: antiquewhite;
    border: 5px solid red;
    
}
#section3{
    background-color: aquamarine;
    border: 5px solid black;
}